/* small device media quaries */

@media screen and (max-width: 640px){
    .banner-container{
        flex-direction: column;
        margin: auto;   
        padding: auto;
        flex-wrap: wrap;
        justify-content: baseline;
        margin: 1.25rem !important;

        
    }
    .banner-img-container{
        position: relative;
        margin: 1.25rem !important;
    }
    .banner-img-container img{
    }
    .primary-title{
        font-size: 2.5rem!important;
        font-weight: 400;
    }
    .primary-info{
        font-size: 1.5rem  !important ;
    }
    .about-title{
        font-size: 1.5rem  !important ;

    }

}


/* medium device media queries */



@media screen and (min-width:641px)  and (max-width:1023px){
    .bg-img-container{
         background-image:none;
    }
    .banner-container{
        flex-direction: column;
        margin: auto;   
        padding: auto;
        flex-wrap: wrap;
        justify-content: baseline;
        margin: 1.25rem !important;
        margin-bottom: 50rem !important;

        
    }
    .banner-img-container{
        margin: 1.25rem !important;
    }
    .primary-title{
        font-size: 3.2rem!important;
        font-weight: 400;
    }
    .primary-info{
        font-size: 1.5rem  !important ;
    }
    .about-title{
        font-size: 1.5rem  !important ;

    }
    
}

